.button1 {
  border: none;
  color: white;
  padding: 15px 32px;

  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 16px 5px;
  cursor: pointer;
}
.b1 {
  background-color: #4caf50;
  text-align: center;
  left: 35%;
  position: absolute;
  top: 5%;
}
.button2 {
  border: none;
  color: white;
  padding: 15px 32px;

  text-decoration: none;
  display: inline-block;
  font-size: 26px;
  margin: 16px 5px;
  cursor: pointer;
}
.b2 {
  background-color: #222092;
  text-align: left;
  left: 5%;
  position: absolute;
  top: 5%;
}
.addButton {
  background-color: lawngreen;
  font-size: 120%;
}
.deleteButton {
  background-color: red;
  font-size: 120%;
}
.searchButton {
  background-color: rgb(185, 185, 211);
  font-size: 120%;
}
